body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
 }

/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center, .signin-content, .social-login, .socials {
  display: flex;
}

list-type-ulli, .socials {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.main {
  background: #f8f8f8;
  padding: 150px 0; 
}

.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
 }
 
 .signin-content {
  padding-top: 67px;
  padding-bottom: 87px; 
}

img {
  max-width: 100%;
  height: auto; 
}

.form-title {
  margin-bottom: 33px; 
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-size: 36px; 
}

figure {
  margin: 0; 
  margin-bottom: 50px;
  text-align: center; 
}

.signin-form {
  margin-right: 90px;
  margin-left: 80px; 
}

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 20px; 
}
.signin-image img{
  height: 350px;
}

.joinBtn{
  margin-top: -30px;
}

.form-button{
  float: right;
}

#signin_btn, #signin_cancel {
  display: inline-block;
  background-color: #e6e1dd;
  margin-left: 10px;
  color: black;
  width: 75px;
  border-radius: 3px;
  height: 35px;
  padding: 1px 6px;
  border: 0;
  cursor: pointer; 
}

.form-group {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0px;
  overflow: hidden; 
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 10px;
  box-sizing: border-box; 
}

.socials {
  margin-top: 100px;
  text-align: center;
 }

.socials a {
  margin: 25px; 
  width: 70px;
  height: 70px;
  color: #fff;
  font-size: 18px;
}

.socials img{
  border-radius: 5px;
  transform: translateZ(0);
  transition-duration: 0.3s;
  /* transition-property: transform; */
  transition-timing-function: ease-out; 
  text-decoration: none; 
}

.socials :hover img {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0); 
}

@media (max-width: 768px) {
    .form-title {
      text-align: center; 
      } 

    .signup-content, .signin-content {
      flex-direction: column;
      justify-content: center;
    }

    .signin-form {
      order: 1;
      margin-right: 0px;
      margin-left: 0px;
      padding: 0 30px; 
    }

    .signin-image {
      margin: 50px 0;
      order: 2;
    }

    .socials {
      justify-content: center;
    }

    .joinBtn {
      margin-top: -450px;
      margin-right: 30px;
    }
}

@media (min-width: 1024px) {
    .container {
      max-width: 1200px; 
    } 
}
  
@media (max-width: 1200px) {
    .container {
      width: calc( 100% - 30px);
      max-width: 100%; 
   } 
}


