/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); */
/*결제 추가*/
.vt_al{
   vertical-align: text-bottom;
   padding-left:4px;
}
.hid{
   text-indent:-10000px;
}
.pay{
   margin-bottom:0;
   display:block;
   
}
.blo::beofre{
    content:"";
    display: block;
  }
.topInfo{
    margin-top: 35px;
}

.breadcrumb>.active {
    color: black;
}

.breadcrumb>li {
    color: rgb(172, 172, 172);
    font-size: 15px;
}

.breadcrumb{
    background-color: white;
    float: right;
    margin-top: 20px;
}

.odTitle{
    margin-bottom: 30px;
    font-weight: 700;
}


/* table */
.table2{
    /* border-top: 2px solid rgb(65, 64, 64); */
    margin-top: 10px;
    width: 100%;
}

th, td {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    /* border-bottom: 1px solid #ddd; */
}

.table2>thead>tr>th {
    font-size: 14px; 
    font-weight: 400;
    color: #989898;
    vertical-align: middle;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 18px;
    text-align: center;
}

.table2>tbody>tr>td {
    vertical-align: middle;
    border-top: 1px solid #e2e2e2;;
    border-bottom: 1px solid #e2e2e2;;
    font-size: 14px;
    height: 170px;
}

.table2>thead:first-child>tr>th:first-child{
    text-align: left;
}

.companyName2, .count, .totalPrice{
    width: 15%;
} 

.productThumb, .names {
    float: left;
    text-align: left;
}

.names{
    /* padding-top: 15px; */
    padding-left: 25px;
}

.minNum, .option{
    color: #898989;
    font-size: 13px;
    font-weight: 400;
}

.option{
    margin-left: 25px;
}

.kategorie{
    font-weight: 700;
    display: inline-block;
    font-size: 12px;
    color: #79604c;
    line-height: 13px;
    margin-bottom: 5px;
}

.companyName{
    font-weight: 700;
    margin-left: 10px;
    display: inline-block;
    font-size: 12px;
    color: #989898;
    line-height: 13px;
    margin-bottom: 5px;
}

.productName{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #1f1f1f;
    display: block;
    line-height: 18px;
    cursor: pointer;
    width: 335px;
}

tbody img {
    width: 130px;
    height: 130px;
}





/* 총주문금액 */

.mbTotal{
    width: 100%;
    padding: 40px 121px 39px;
    background-color: #fafafa;
    box-sizing: border-box;
    border-top: 1px solid #e2e2e2;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.mbTotalPrice{
    margin-left: 15px;
    color: #f78c90;
    font-size: 24px;
    font-weight: 700;
}

/* 주문배송정보 */

.orderInfo{
    font-family: 'Nanum Gothic', sans-serif;
}

.col-sm-12{
    overflow: hidden;
}

hr{
    border-top: 1px solid #1f1f1f;
    /* overflow: hidden; */
}

.orderInfo label{
    width: 120px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
}

.orderInfo input[type="text"], .orderInfo input[type="tel"] {
    background-color: #fff;
    border: solid #dedede;
    border-width: 0 0 1px;
    height: 38px;
}

.orderInfo input[type="text"]:focus, .orderInfo input[type="tel"]:focus {
    background-color: #fff;
    border: solid #000;
    border-width: 0 0 1px;
    outline: none;
}

.orderInfo input[type="tel"] {
    width: 100px;
    margin-left: 30px;
    margin-right: 0;
}

.orderInfo input[value="우편번호찾기"]{
    padding: 0 19px;
    color: #000;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 15px;
    line-height: 30px;
    vertical-align: middle;
}

.required{
    font: 0/0 a;
    vertical-align: middle;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #f23d4e;
}

#sample2_address{
        
    width: 30%;
}

#sample2_detailAddress{
    width: 20%;
}
#sample2_extraAddress{
   width:20%;
}


#memo{
    width: 50%;
}

.orderInfo select{
    margin-top: -13px;
    width: 60px;
    height: 38px;
    line-height: 38px;
    /* appearance: none; */
    outline: none;
    border: solid #dedede;
    border-width: 0 0 1px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    /* text-align: start; */
    /* box-sizing: border-box; */
    /* align-items: center; */
    /* white-space: pre; */
}

/* 결제정보, 주문동의 */

.smOrder {
    padding-top: 20px;
    position: sticky;
    top: 100px;
}

.orderRight {
    /* height: 550px; */
    padding: 1px;
    position: relative;
    background-color: #fff;
    border: 1px solid #dedede;
}

.orderRight h1 {
    font-size: 27px;
    font-weight: 300;
    color: #1f1f1f;
    margin-top: 10px;
    margin-bottom: 20px;
}

.orderH1 {
    border-bottom: 1px solid #dedede;
    margin-bottom: 60px;
}

.orderRight h5{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #1f1f1f;
}

.orderRight p {
    margin-bottom: 20px;
    font-size: 12px;
    color: #898989;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 20px;
}

.orderRightTop {
    padding: 40px 25px;
    margin-bottom: 20px;
}

.totalRight {
    text-align: right;
}

.totalRight strong {
    font-size: 16px;
    color: #1f1f1f;
    margin-bottom: 14px;
    font-weight: 300;
}

.totalRight span {
    font-size: 30px;
    color: #1f1f1f;
    font-weight: 300;
}

.totalRight span em {
    color: #f78c90;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -1px;
}

.order-agree {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 20px;
    background-color: #fafafa;
    font-weight: 400;
}

/* 체크박스 */

.crP {
    /* padding-top: 5px; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -1px;
    vertical-align: middle;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 2px solid #1f1f1f;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    font-size: 13px;
}

.checkbox{
    margin-top: 15px;
    text-align: center;
}

.checkbox label{
    padding: 0;
}

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}



/* 결제수단선택 */

.payList {
    font-family: 'Nanum Gothic', sans-serif;
    border: 1px solid #efeeef;
    background-color: #fafafa;
    height: 400px;
    padding-top: 15px;
}

.socialsPay img {
    width: 90px;
    height: 90px;
    margin-right: 15px;
}

.socialsPay p {
    text-align: center;
    width: 90px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 12.8px;
    color: #1f1f1f;
}

.kakaoPay, .bankBook {
    display: inline-block;
    margin-bottom: 50px;
}

.kakaoInfo h5{
    color: #1f1f1f;
    font-weight: 700;
}

.kakaoList{
    padding-left: 5px;
    color: #898989;
}

.kakaoList li{
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: -1px;
    list-style-type: none;
}

/* 하단 버튼 2개 */

.button{
    text-align: center;
    margin: 20px 0;
}
.btn-primary{
    width: 90%;
    height: 50px;
    font-weight: 400;
    border-radius: 0;
    /* margin: 0 12px; */
    font-size: 18px;
    background-color: white;
    border: 1px solid #ccc;
    color: rgba(31,31,31,.87);
}

.btnOrder, .btnOrder:active, .btnOrder:focus, .btnOrder:hover {
    border: 1px solid #f78c90;
    background-color: #f78c90;
    color: white;
}

.btnOrder:hover{
    border: 1px solid #f78c90;
    background-color: #f78c90;
    color: white;
}

@media (max-width: 767px) {
    .breadcrumb {
        padding: 10px;
        float: none;
        background-color: #f5f5f5;
    } 

    tbody img {
        width: 90px;
        height: 90px;
    }

    .names {
        margin-top: 5px;
        width: 130px;
        padding-left: 6px;
    }

    .table2>thead:first-child>tr>th:first-child {
        text-align: center;
    }

    .table2>thead>tr>th, .table2>tbody>tr>td {
        font-size: 11px;
        /* text-align: center; */
    }

    .table2>thead>tr>th {
        padding-bottom: 10px;
    }

    .table2>tbody>tr>td {
        letter-spacing: -1px;
        height: 130px;
    }
    
    .count {
        width: 18%;
    }

    .totalPrice {
        width: 18%;
    }

    span.productName {
        font-size: 11px;
        width: 130px;
        margin-bottom: 5px;
    }

    .minNum {
        font-size: 11px;
    }

    .option {
        margin-left: 10px;
        font-size: 11px;
    }

    .mbTotal {
        padding: 30px 20px;
        margin-bottom: 20px;
    }

    .memberTotalPrice {
        margin-top: -17px;
    }

   /* 주문배송정보 */
   .orderInfo label {
       width: 70px;
   }

   #emailId, #emailDomain {
       width: 100px;
   }

   #sample2_detailAddress {
       margin-left: 70px;
   }

   #orderPhon2, #orderPhon3, #orderCall2, #orderCall3 {
       margin-left: 10px;
       width: 70px;
   } 

   #memo {
       width: 230px;
   }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .productName {
        width: 200px;
    }

    .totalRight span {
        font-size: 25px;
    }

    .orderInfo label {
        width: 80px;
    }

    #emailId, #emailDomain {
        width: 115px;
    }

    #sample2_detailAddress {
        margin-left: 80px;
    }
}
  @media (min-width: 1024px) {
  }

  @media(min-width: 1200px) {
   
}