@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


.topInfo{
    margin-top: 35px;
}

.breadcrumb>.active {
    color: black;
}

.breadcrumb>li {
    color: rgb(172, 172, 172);
    font-size: 15px;
}

.breadcrumb{
    background-color: white;
    float: right;
    margin-top: 20px;
}


/* table */
table{
    /* border-top: 2px solid rgb(65, 64, 64); */
    margin-top: 10px;
}

th, td {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    /* border-bottom: 1px solid #ddd; */
}

.table>thead>tr>th:nth-child(n+2){
    font-size: 14px; 
    font-weight: 400;
    color: #989898;
    /* line-height: 19px; */
}
.table>thead>tr>th {
    vertical-align: middle;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 4px;
    text-align: center;
}

.table>tbody>tr>td {
    vertical-align: middle;
    border-top: 1px solid #e2e2e2;;
    border-bottom: 1px solid #e2e2e2;;
    font-size: 14px;
    height: 150px;
}

tbody img {
    width: 100px;
    height: 100px;
}


/* 체크박스 */

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    /* margin-right: .5em; */
}

.check {
    width: 5%;
}

.checkbox{
    margin-top: 15px;
    margin-left: 20px;
}

.checkbox label{
    padding: 0;
}

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}

.kategorie, #kategorie{
    width: 8%;
    text-align: left;
/* border-right: 1px solid #e9ecef; */
}

.productDescription{
    width: 19%;
    /* border-right: 1px solid #e9ecef; */
}
.productName, .companyName {
    display: block;
    margin-left: 15px;
    text-align: left;
}

.companyName{
    font-size: 12px;
    line-height: 17px;
    margin-top: 25px;
    font-weight: 700;
    color: #79604c;
}

.productName{
    font-size: 15px;
    color: #222;
    line-height: 22px;
    font-weight: 400;
    width: 210px;
    height: 50px;
}


.productThumb, .names {
    float: left;
}

.productNum{
    width: 10%;
}

.price, .totalPrice {
    font-weight: 700;
    width: 10%;
}

.count{
    width: 10%;
}

.numBox{
    width: 40px;
    height: 35px;
    border: 0;
    border-bottom: 1px solid rgb(167, 164, 164);
    color: black;
    font-size: medium;
}

.plus{
    margin-left: -3px;
}

.minus{
    color: rgb(167, 164, 164);
    margin-right: -3px;
}

.plus, .minus{
    background-color: white;
    border: 0;
    height: 35px;
    width: 30px;
}

.cartStock input{
    text-align: center;
    font-size: 13px;
}

/* 총주문금액 */

.mbTotal{
    width: 100%;
    padding: 40px 121px 39px;
    background-color: #fafafa;
    box-sizing: border-box;
    border-top: 1px solid #e2e2e2;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.mbTotalPrice{
    margin-left: 15px;
    color: #f78c90;
    font-size: 24px;
    font-weight: 700;
}

/* 하단 버튼 3개 */

.button {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 130px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    border-radius: 0;
    margin: 0 12px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #ccc;
    color: rgba(31,31,31,.87);
}

.btnOrder, .btnOrder:hover, .btnOrder:active, .btnOrder:focus {
    border: 1px solid #f78c90;
    background-color: #f78c90;
    color: white;
}





@media (max-width: 767px) {
    .breadcrumb {
        padding: 10px;
        float: none;
        background-color: #f5f5f5;
    } 

    tbody img {
        margin: 0 55px;
    }

    .productName, .companyName {
        margin-left: 0;
        text-align: center;
    }

    .mbTotal {
        padding: 30px;
    }

    .memberTotalPrice {
        margin-top: -17px;
    }
    /* 하단 버튼 3개 */
    .button {
        margin-top: 50px
    }

    .btn-primary {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .breadcrumb { 
        float: right;
        padding: 0;
        margin: 25px 0 10px;
    }

    .table>thead>tr>th:nth-child(n+2), .table>tbody>tr>td {
        font-size: 11px;
        padding: 8px 0;
    } 

    .productDescription {
        width: 19%;
    }

    .names {
        margin-bottom: -30px;
    }

    tbody img {
        margin: 0 55px;
    }

    .productName, .companyName {
        margin: 0;
        text-align: center;
        font-size: 13px;
    }

    .companyName{
        margin-top: 10px;
    }

    .kategorie, .productNum, #kategorie {
        width: 10%;
        text-align: center;
    }

    .count{
        width: 14%;
    }

    .price, .totalPrice {
        width: 14%;
    }

    .cartStock input{
        font-size: 13px;
    }

    .plus, .minus{
        width: 10px;
    }
    
  }

  @media (min-width: 1024px) {
    .productDescription {
        width: 25%;
    }

    .productName, .companyName{
        width: 160PX;
    }

    .productName {
        font-size: 13px;
    }

  }

  @media(min-width: 1200px) {
   

    .productDescription {
        width: 20%;
    }

    .productName {
        font-size: 14px;
        width: 170px;
    }
}