body {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
  }

.main {
    background: #f8f8f8;
    padding: 150px 0; 
  }

.container {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  }

.signup-content {
    padding-top: 67px;
    padding-bottom: 87px; 
    margin-right: 220px;
    margin-left: 210px; 
  }

.form-title {
    margin-bottom: 33px; 
  }

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-size: 36px; 
  }

p{
    letter-spacing: 1px;
    color: #5B9759;
    text-align: center;
  }

hr{
    margin: 10px 0;
  }

.signup-image{
   text-align: right;
  }

.signup-image img {
    max-width: 100%;
    height: auto; 
  }

/* 소셜로그인 */

.socials {
    text-align: center;
  }
  
.socials img{
    border-radius: 5px;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-timing-function: ease-out; 
    text-decoration: none; 
    margin: 40px 10px; 
    width: 40px;
    height: 40px;
  }

.socials :hover img {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0); 
  }
  
list-type-ulli, .socials {
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }

/* 체크박스 */
input[type=radio] {
  width: 20px;
}
.vt_align{
   vertical-align:top;
}
/* 우편번호 찾기 */
#oaddress {
  width: 40%;
  display: inline;
}

/* 회원가입,취소버튼 */
#signup_btn, #signup_cancel {
    display: inline-block;
    background-color: #e6e1dd;
    margin-top: 40px;
    margin-right: 20px;
    color: black;
    width: 100px;
    height: 45px;
    padding: 1px 6px;
    border-radius: 5px;
    border: 0;
    cursor: pointer; 
  }

.form-button{
  text-align: center;
}


